body {
  background-image: url(img/background.jpg);
  width: 100%;
  background-size: cover;
}

@font-face {
  font-family: 'Old-Soviet';
  src: local('Old-Soviet'),
    url('font/Old-Soviet.otf') format('truetype');
}

h1 {
  width: 200px;
  font-size: 32px;
  top: -10px;
  mix-blend-mode: lighten;
  color: #000;
  font-family: 'Old-Soviet';
  position: relative;
  background: linear-gradient(to right, #baac9f, #9198e500 95%);
}

.btnContainer {
  position: relative;
  background-color: #baac9f;
  top: 20px;
  width: 350px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  border: #3c322a solid 2px;
  box-shadow: inset #3c322a 0 0 40px 10px,
    #3c322a 0 0 24px 12px;
}

.btnContainer>span {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Old-Soviet';
}

.button {
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: #3c322a;
  background-color: #ede4db;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  border-radius: 3px;
  font-family: 'Old-Soviet';
}

.button:focus,
.button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #f2b179,
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid #f2b179;
  color: #f69663;
}

#txtLetPlay {
  font-size: 24px;
  font-weight: 700;
}

#txtScore {
  font-size: 26px;
  width: 590px;
  font-family: 'Old-Soviet';
  font-weight: 700px;
  visibility: hidden;
  position: absolute;
  top: 20px;
  left: 30%;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.gridEasyLvl {
  width: 642px;
  height: 477px;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px #beaea1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.gridMediumLvl {
  width: 800px;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px #beaea1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

.gridHardLvl {
  width: 960px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px #beaea1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#grid {
  background-color: #b9ab9e;

}

#grid>img {
  margin: 4px;
  border: solid 1px rgb(79, 63, 50);
  border-radius: 2px;
}

#grid>img:hover {
  border-radius: 7px;
  transform: scale(1.03, 1.03);
  cursor: pointer;
}

#popup {
  visibility: hidden;
  background-size: contain;
  position: absolute;
  width: 170px;
  height: 170px;
  background-repeat: no-repeat;
  top: 45%;
  left: 45%;
}

@keyframes animWrongCard {
  0% {
    transform: rotate(5deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

#congrats {
  background-image: url(img/congratsAnim.gif);
  background-size: contain;
  position: absolute;
  top: 90px;
  width: 500px;
  height: 500px;
  left: 35%;
  visibility: hidden;
}